services:
  pterodactyl-exporter:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: pterodactyl-exporter
    ports:
      - "9531:9531"
    volumes:
      - ../config.yml:/opt/pterodactyl_exporter/config/config.yml
